*{
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
}

#pets{
    display: flex;
    justify-content: space-evenly;   
    /* flex-wrap: wrap;  */
}
.card{
    width: 350px;
    height: 50%;
    border: 2px solid black;
    padding: 10px;
    border-radius: 15px;
   
    margin: 20px 5px 0px 5px;
}
p{
    display: inline-block;
    font-size: 14px;
    margin-top: 15px;
    
}
h3{
    margin-top: 15px;
}
 img{
    height: 40%;
    width: 100%;
    border-radius: 15px;

 }
 h2{
    color: red;
 }
 h1 span{
   color: rgb(150, 106, 11);
 }
 h1{
       margin-top: 20px;

 }
 h4{

    color: green;
    text-align:end;
    margin-right: 20px;
    margin-bottom: 20px;
 }


 @media (max-width:700px){
      #pets{
            flex-wrap: wrap;

    }
    .card{
    width: 100%;   
     }    
 }
